.transition, ul li i:before, ul li i:after, p {
  transition: all 0.25s ease-in-out;
}

.flipIn, ul li, h1 {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.about {
  .about-content{
    text-align: center;
    padding: 1.5rem;
    max-width: 1000px;
    p {
      margin: 1.5rem;
    }
  }
}

  .tech {
    max-width: 450px;

    h1 {
      display: flex;
      justify-content: center;
      padding: 1.5rem 0;
    }
  
    .tech-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    
      img{
        transition: all .2s ease;
        &:hover {
          transform: rotate(15deg) scale(1.25);
        }
      }
    }
  }


